<div class="home w-100 vh-100 d-flex justify-content-center align-items-center">
     <div class="form-box mt-3">
         <form action="#" class=" ">
            <div class="text-content d-flex flex-column">
                 <h2 class="text-dark">Sign In</h2>
            </div>
            <div class="form-group mt-2">
                <input type="email" placeholder="E-mail" name="email" class="form-control">
            </div>
            <div class="form-group mt-2">
                <input type="password" placeholder="Mot de passe" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success mt-3 w-100">sign in</button>
            <div class="link text-center mt-3">
                <a href="/register" class=" text-decoration-none">Créer un compte</a>
            </div>
         </form>
     </div>
</div>